/** FONTS **/
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('/fonts/Satoshi-Regular.woff') format('woff'),
       url('/fonts/Satoshi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 102.23%;
  descent-override: 24.29%;
  line-gap-override: 10.12%;
  size-adjust: 98.80%;
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('/fonts/Satoshi-Medium.woff') format('woff'),
       url('/fonts/Satoshi-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 102.23%;
  descent-override: 24.29%;
  line-gap-override: 10.12%;
  size-adjust: 98.80%;
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('/fonts/Satoshi-Bold.woff') format('woff'),
       url('/fonts/Satoshi-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial');
  ascent-override: 95.87%;
  descent-override: 22.78%;
  line-gap-override: 9.49%;
  size-adjust: 105.35%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --text-primary: rgba(0,0,0, .81);
  --text-secondary: rgba(0,0,0, .75);
  --text-accent: rgb(229, 122, 68);

  --bp-sm: 640px;
  --bp-md: 1024px;
  --bp-lg: 1200px;

	font-family: 'Satoshi', 'Satoshi Fallback';
  font-size: 18px;
  color: var(--text-primary);
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 16px;
  }  
}

.mx-auto {
  margin: 0 auto;
}

body { 
}

/** Code highlighting */
pre {
  overflow-x: scroll;
}

nav {
  padding-top: 32px;
  display: flex;
  justify-content: space-between
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  color: var(--text-accent);
  text-decoration: none;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
}

.nav {

}

.nav__logo {
  width: 115px;
  height: 85px;
}

@media screen and (max-width: 640px) {
  .nav__logo {
    width: 100px;
    height: 75px;
  }  
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: bold;
}

.intro {
  margin-top: 104px;
}

.intro__title {
  font-size: 44px;
  line-height: 52px;
  color: var(--text-primary);
  margin-bottom: 9px;
}

.intro__description {
  font-size: 24px;
  line-height: 33px;
  color: var(--text-secondary);
}

@media screen and (max-width: 640px) {
  .intro {
    margin-top: 72px;
  }

  .intro__title {
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 8px;
  }
  
  .intro__description {
    font-size: 20px;
    line-height: 30px;
    color: var(--text-secondary);
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    margin-bottom: 12px;
  }
}

.about__links {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  font-size: 21px;
  margin: 36px 0;
}

.about__links a {
  color: var(--text-accent);
}

.posts {
  margin-top: 72px;
  margin-bottom: 144px;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.post__date {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--text-accent);
}

.post__title {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 8px;
}

.post__description {
  font-size: 22px;
  line-height: 30px;
}

.prose > * {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 18px;
}

.prose__header {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 4px;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .prose__header {
    flex-direction: column-reverse;
    gap: 4px;
    margin-top: 72px;
  }
}

.prose__title {
  font-size: 42px;
  line-height: 1.2;
  margin-top: 8px;
}

@media screen and (max-width: 640px) {
  .prose__title {
    font-size: 40px;
    line-height: 1.2;
  }
}

.prose__description {
  font-size: 24px;
  line-height: 1.35;
  margin-top: 12px;
  margin-bottom: 54px;
}

.prose__date {
  color: var(--text-accent);
}

.prose h2 {
  font-size: 32px;
  margin-bottom: 9px;
  line-height: 1.18;
}

.prose h3 {
  margin-bottom: 6px;
}

.prose p {
  font-size: 20px;
  line-height: 1.43;
  padding-bottom: 21px;
  color: var(--text-secondary);
}

.prose ul {
  list-style: none;
}

.prose ul > li {
  list-style: none;
  font-size: 20px;
  padding-bottom: 21px;
}

.prose ul > li {
  padding-left: 1em;
}

.prose ul > li::before {
  content: "■";
  color: var(--text-accent);
  font-size: 12px;
  vertical-align: middle;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.6em;
  margin-right: 0.4rem;
  margin-top: -0.2rem;
}

.prose * + h2 {
  padding-top: 15px;
}

.prose pre + * {
  padding-top: 15px;
}

.prose * > code {
  margin-top: 36px;
  margin-bottom: 36px;
  border-radius: 4px;
  font-size: 16px;
  vertical-align: middle;
  padding: 2px 6px;
  background-color: #3a302b;
  color: var(--text-accent);
}


.prose > pre {
  margin-top: 36px;
  margin-bottom: 36px;
  padding: 0 1rem;
}

.prose a {
  color: var(--text-accent);
}

.prose__squiggle {
  margin: 72px auto 90px;
}


@media screen and (max-width: 640px) {
  .post__title {
    font-size: 30px;
  }
  
  .post__description {
    font-size: 20px;
    line-height: 28px;
  }
}

.home-squiggle {
  margin-bottom: 90px;
}


/**
 * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .code-highlight.
 */
/*.code-highlight {*/
/*  float: left; !* 1 *!*/
/*  min-width: 100%; !* 2 *!*/
/*}*/

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0); /* Set placeholder for highlight accent border color to transparent */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5); /* Set highlight bg color */
  border-left: 4px solid rgba(227, 101, 31, .81);; /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1.5rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}

code[class*="language-"],
pre[class*="language-"] {
	font-size: 16px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	word-spacing: normal;
    margin-left: auto;
    margin-right: auto;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre;
	word-break: break-all;
	word-wrap: break-word;
	background: #322931;
	color: #b9b5b8;
    overflow: auto;
}

pre[class*="language-"] {
  padding: 24px 16px;
  border-radius: 8px;
  width: 800px;
  max-width: calc(100vw - 18px);
  margin: 1rem auto;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #797379;
}

.token.punctuation {
	color: #b9b5b8;
}

.namespace {
	opacity: .7;
}

.token.null,
.token.operator,
.token.boolean,
.token.number {
	color: #fd8b19;
}

.token.property {
	color: #fdcc59;
}

.token.tag {
	color: #1290bf;
}

.token.string {
	color: #149b93;
}

.token.selector {
	color: #c85e7c;
}

.token.attr-name {
	color: #fd8b19;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #149b93;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
	color: #8fc13e;
}

.token.statement,
.token.regex,
.token.atrule {
	color: #149b93;
}

.token.placeholder,
.token.variable {
	color: #1290bf;
}

.token.important {
	color: #dd464c;
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: .4em solid red;
	outline-offset: .4em;
}